{
  "extends": ["stylelint-config-standard"],
  "plugins": ["stylelint-order"],
  "overrides": [
    {
      "files": ["*.css"],
      "customSyntax": "postcss"
    },
    {
      "files": ["*.ts", "*.tsx"],
      "customSyntax": "@stylelint/postcss-css-in-js"
    }
  ],
  "rules": {
    "declaration-empty-line-before": [
      "never",
      {
        "ignore": ["first-nested", "after-comment", "inside-single-line-block"]
      }
    ],
    "order/order": ["custom-properties", "declarations"],
    "order/properties-order": [
      {
        "groupName": "Layout",
        "emptyLineBefore": "never",
        "noEmptyLineBetween": true,
        "properties": [
          "display",
          "position",
          "top",
          "right",
          "bottom",
          "left",
          "z-index",
          "overflow",
          "flex",
          "justify-content",
          "align-items",
          "flex-direction"
        ]
      },
      {
        "groupName": "Box",
        "emptyLineBefore": "always",
        "noEmptyLineBetween": true,
        "properties": ["width", "height", "margin", "padding", "border"]
      },
      {
        "groupName": "Typography",
        "emptyLineBefore": "never",
        "noEmptyLineBetween": true,
        "properties": ["color", "font", "font-size", "font-weight", "line-height", "text-align"]
      }
    ],
    "no-empty-source": null,
    "block-no-empty": null,
    "color-hex-length": "short",
    "max-nesting-depth": [2, { "ignore": ["blockless-at-rules"] }]
  }
}