@import "tailwindcss";

/* Pretendard 폰트 */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/fonts/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@theme {
  --color-black: #000000;

  --color-kakao-bg: #fee500;
  --color-gray-100: #FFFFFF;
  --color-gray-200: #EBEBEB;
  --color-gray-300: #A5A5A5;
  --color-gray-700: #000000;
  --color-red-delete: #ED0505;

  --font-pretendard: Pretendard, system-ui, sans-serif;

  --text-title-20: 20px;
  --text-title-20--line-height: 1.25;

  --text-title-16: 16px;
  --text-title-16--line-height: 1.25;

  --text-title-14: 14px;
  --text-title-14--line-height: 1.25;

  --text-body-16: 16px;
  --text-body-16--line-height: 1.4;

  --text-body-14: 14px;
  --text-body-14--line-height: 1.4;

  --text-body-13: 13px;
  --text-body-13--line-height: 1.4;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@utility title-20-semibold {
  @apply font-pretendard text-title-20 font-semibold;
}

@utility title-16-semibold {
  @apply font-pretendard text-title-16 font-semibold;
}

@utility title-14-semibold {
  @apply font-pretendard text-title-14 font-semibold;
}

@utility body-16-medium {
  @apply font-pretendard text-body-16 font-medium;
}

@utility body-14-medium {
  @apply font-pretendard text-body-14 font-medium;
}

@utility body-14-regular {
  @apply font-pretendard text-body-14 font-normal;
}

@utility body-13-medium {
  @apply font-pretendard text-body-13 font-medium;
}

body {
  font-family: var(--font-pretendard);
}